<div *ngIf="viewData">
  <div class="modal-band">
    <div class="row ">
      <div class="col-md-6 text-left">
        <h3>{{viewData.Name}}</h3>
        <div class="">
          <span style="font-size: 18pt;color:ash;  text-align: left;">{{viewData.Type[0]}}</span>
        </div>
      </div>
      <div class="col-md-6 text-right">
        <span class="stars-label">
          <h3>
            {{viewData.Rating}}
          </h3>
          <rating [(ngModel)]="viewData.Rating" [readonly]="true"></rating>
        </span>
      </div>
    </div>
  </div>
  <mat-dialog-content>
    <div class="flex-container">
      <span *ngIf="viewData.Address">
        <mat-icon class="blue-text">place
        </mat-icon>
        {{viewData.Address}}
      </span>
      <span>
        <mat-icon class="blue-text">work
        </mat-icon>
        Open Now: {{viewData.openNow?'Yes':'No'}}
      </span>
    </div>
    <div class="flex-container">
      <span *ngIf="viewData.TelephoneNo">
        <mat-icon class="blue-text">phone
        </mat-icon>
        {{viewData.TelephoneNo}}
      </span>
      <span *ngIf="viewData.WebSite">
        <mat-icon class="blue-text">language
        </mat-icon>
        <a style="text-decoration: none;" [href]="viewData.WebSite">{{viewData.WebSite? 'Related Website':null}}</a>
      </span>
    </div>
    <div *ngIf="viewData.WorkingHours" style="margin-left: 25px">
      <mat-expansion-panel>
        <mat-expansion-panel-header class="flex-container">
          <table class="table">
            <tr>
              <th>
                <mat-icon class="blue-text">access_time
                </mat-icon> Working Hours </th>
              <th>:{{viewData.WorkingHours|todayTimePeriod|timePeriod}}</th>
            </tr>

          </table>
        </mat-expansion-panel-header>
        <div *ngFor="let hours of viewData.WorkingHours" class="flex-container">

          <span>{{hours|day}}</span>
          <span>:{{hours|timePeriod}}</span>
          <hr>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-dialog-content>

</div>
<style>


</style>
