<div>
  <div class="search-field">
    <div class="container">
      <div class="row shadow-sm p-3 mb-5 bg-white rounded">
        <form class="form-field" #placeForm="ngForm" (ngSubmit)="onSubmit(selectedPlace.value,selectedRadius.value)">

          <div class="col s3 offset-s1">
            <mat-form-field class="example-full-width">
              <label class="label-field">Location</label>
              <input type="text" aria-label="Location" class="browser-default" matInput #selectedPlace [formControl]="SelectedPlaceCntrl"
                [matAutocomplete]="auto" required>
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let place of locationsOptions|async" [value]="place.Name">
                  {{place.Name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="col s3">
            <mat-form-field>
              <label class="label-field">Radius (in Km)</label>
              <mat-select #selectedRadius required style="padding: 5px;">
                <mat-option *ngFor="let rad of radius" [value]="rad.InMeters">
                  {{rad.InKiloMeters}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col s4">
            <label class="label-field">Type</label>
            <p>
              <span class="col" *ngFor="let type of types">
                <label>
                  <input class="browser-default" type="checkbox" (click)="checkBoxValueChange(type)" [value]="type.ParameterName" name="optionType"
                    [checked]="type.Checked" />
                  <span class="label-field">{{type.Name}}</span>
                </label>
              </span>
            </p>
          </div>
          <div class="container">
            <div class="input-field col s12 right-align rigth-margin">
              <button class="btn waves-effect waves-light" [disabled]="!isValid(placeForm.valid)" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row" *ngIf="isDataAvailable">
      <div class="col-md-12 right-align">
        <a class="btn-floating btn-large waves-effect waves-light red" [href]="sanitize(down)" [download]="downloadableFileName">
          <i class="material-icons">file_download</i>
        </a>
      </div>
    </div>
    <div class="row" *ngIf="isDataAvailable">

      <div class="col-md-3 " *ngFor="let data of viewData">
        <div class="card hoverable" style="min-height: 500px;">
          <div class="card-image">
            <app-image [url]="data.ImgUrl" [type]="data.Type"></app-image>
          </div>
          <div class="text-center">
            <span class="card-title truncate mt-3">{{data.Name}}</span>
          </div>
          <hr>
          <div class="row" style="min-height:170px">
            <div class="col-md-12 center-align">
              <rating [(ngModel)]="data.Rating"></rating>{{data.Rating}}
            </div>
            <div class="col-md-12 text-center">


              {{data.Address}}

            </div>
            <div class="col-md-12 text-center">
              <span class="badge badge-secondary" style="color: white;">
                {{data.Type}}
              </span>
            </div>
          </div>
          <div class="card-action text-right">
            <button class="btn waves-effect waves-light" (click)="openDialog(data.DetailUrl)">Get Detail</button>
          </div>
        </div>

      </div>
    </div>
    <div class="row" *ngIf="dataLoadingFlag">
      Loading ..
    </div>
    <div class="row" *ngIf="noDataFlag">
      <div *ngIf="!isDataAvailable">
        Sorry No Places Available....
      </div>
    </div>
  </div>
</div>
