<nav>

  <div class="nav-wrapper">
    <a class="brand-logo " routerLink="/" style="margin-left:15px">
      <img src="assets/logo.png" height="50" class="d-inline-block ml-3 align-top" alt="">

    </a>
    <div class="col-sm-6 pull-right" style="margin-left: 80%">
      <a class="btn " *ngIf="loggedIn" routerLink="/activityLog">ActiVity Log</a>
      <a class="btn " *ngIf="loggedIn" (click)="logOut()">Sign out</a>
    </div>
  </div>



</nav>
<div>

  <router-outlet></router-outlet>

</div>
<!-- <footer class="footer">
  <div class="container">
    <span class="text-muted">© All rights reserved. Allion Technologies (PVT) Ltd.</span>
  </div>
</footer> -->
