<div class="container">
  <div class="row mt-5">
    <div class="col-md-6">
      <h4>
        What is Lorem Ipsum?
      </h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
        specimen
        book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
        essentially
        unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
        and
        more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="col-md-6">
      <form #logInForm="ngForm" (ngSubmit)="onSubmit(userName.value,userPassword.value)"  class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="form-group">
<label for="userName">User Name</label>
          <input type="text" class="form-control" name="userName" aria-describedby="user name" #userName placeholder="Enter User Name">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="exampleInputPassword1" #userPassword placeholder="Password">
        </div>
       
        <button type="submit" class="btn btn-primary mt-3">login</button>
      </form>
    </div>
  </div>
</div>
